@font-face {
  font-family: 'balnesregular';
  src: url('demo_balnes-webfont.woff2') format('woff2'),
       url('demo_balnes-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.titleName{
  /* Rhaya & Ashane */


/* position: absolute; */
padding: 30px 30px 30px 30px;
font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;


color: #6E6E6E;
}

.tablink{
  font-family: Garamond;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height */

/* text-align: center; */

color: #FFFFFF;
}
